/* vores eget stylesheet */


.content {
background: white;
padding-top: 8px;
font-family: helvetica, arial, sans-serif;
font-size: 0,8em;
color: grey;
}


.kort {
    height: 620px;
    background: url(kort.png); background-repeat: no-repeat;
}

.kort:hover {
    background: url(kort1.png); background-repeat: no-repeat;
    
}
.logo {
    height: 125px;
    
}

.tekst {
    height: 125px;
}

.rute {
    background: url(rute.jpg); background-repeat: no-repeat;
    height: 125px;
}

.lokal, .tinder, .kalender {
    height: 400px;

}

.mini {
    height: 100px;
}

}
.overskrift {
    height: 80px;
}
.tekst2 {
    height: 80px;
    text-align: center;
    
}

.politinder {
    height: 100px;
    background: url(enforalle1.png);
}

.tinderbillede {
    height: 300px;
    
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position:absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
 
}


.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: grey;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  font-family: helvetica, arial, sans-serif;
  border-radius: 12px;
  
  
}

.kalenderbillede {
    height: 300px;
    padding-left: 20px;
}
.tekst3 {
    height: 100px;
    padding-left: 20px;
}

.footer {
    height:  40px;
    font-family: helvetica, arial, sans-serif;
    font-size: 10px;
    color: grey;
    text-align: center;
}

.data {
    height: 422px;
    <!--background: grey;-->
}

.kalendertekst {
    height: 455px;
}

fieldset {
border: 1px solid grey;
padding: 3px;
-moz-border-radius:5px;  
  border-radius: 5px;  
  -webkit-border-radius: 5px;
}
fieldset legend {
font-family: helvetica, arial, sans-serif;
}

.pil1 {
    background: url(pilleft.jpg); background-repeat: no-repeat; 
    height: 422px;
}

.pil2 {
    background: url(pilright.jpg); background-repeat: no-repeat;
    height: 422px;
    
}

a:link {
    text-decoration: none;
}

.lp{
	height: 422px;
  	width: 450px;
}